# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual Environments

venv/
env/
.venv/

# Environment Variables

.env
.env.*

# Build / Packaging

build/
dist/
*.egg-info/

# Logs

*.log
logs/

# Test / Coverage

.pytest_cache/
.coverage
htmlcov/

# IDE

.vscode/
.idea/

# OS

.DS_Store
Thumbs.db
